<!--<header>-->
<!--    <div class="header">-->
<!--    <h1>Welcome to Paw Detective!</h1>-->
<!--    <h3>Upload a photo and let our AI find your furry friends.</h3>-->
<!--      <div class="header-logo">-->
<!--        <a href="/">-->
<!--          <img src="../static/images/header.png" alt="Header logo">-->
<!--        </a>-->
<!--        <a href="/" class="home-link">Home</a>-->
<!--      </div>-->
<!--    <img id="header-img" src="../static/images/header.png" alt="Header image">-->
<!--    </div>-->
<!--</header>-->

<header>
<div class="header">
  <h1>Welcome to Paw Detective!</h1>
  <h3>Upload a photo and let our AI find your furry friends.</h3>
  <div class="header-logo">
    <a href="/">
      <img src="../static/images/header.png" alt="Header logo">
    </a>
    <a href="/" class="home-link">Home</a> <br/>
    <a href="/about.html" class="about-link">About</a>
  </div>
  <img id="header-img" src="../static/images/header.png" alt="Header image">
</div>
    </header>
