body {
    font-family: Arial, sans-serif;
    background-color: #eef9ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFC542;
    padding: 20px;
    text-align: center;
    position: relative;
}

/*  .header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*  }*/

/*  .header h1,*/
/*  .header h3 {*/
/*    margin: 10px 0;*/
/*  }*/

/*  .header-logo {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-bottom: 20px;*/
/*  }*/

/*  .header-logo img {*/
/*    width: 64px;*/
/*    height: 64px;*/
/*    margin-right: 10px;*/
/*  }*/

/*  .header-logo a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    font-size: 18px;*/
/*  }*/

#header-img {
    position: absolute;
    top: 25%;  /* adjust as necessary */
    right: 8%;  /* adjust as necessary */
    width: 244px;  /* adjust as necessary */
    height: auto;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header h1,
.header h3 {
    margin: 10px 0;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    width: 25%;
    left: 10px;
}

.header-logo img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.header-logo a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 5px;
}

h1, h2 {
    color: #333;
}

.upload-section {
    text-align: center;
    margin: 20px;
}


.results-section {
    background-color: #d9edf7;
    height: 100%; /* Set the height to 100% of its container */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    overflow-y: auto; /* Add vertical scroll if the content exceeds the height */

}
.results-section {
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}


.image-section img {
    max-width: 100%;
    height: auto;
}

.image-section {
    text-align: center;
    margin: 20px;
        justify-content: center; /* Align items horizontally in the center */
    align-items: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.img-wrapper {
    display: inline-block;  /* make the div only as wide as the image inside it */
    border: 8px solid #555;  /* adjust border width and color as necessary */
    border-radius: 10px;  /* adjust for roundness of corners */
    margin-top: 40px;  /* adjust as necessary */
}

.img-wrapper-results {
    display: inline-flex;  /* make the div only as wide as the image inside it */
    border: 8px solid #555;  /* adjust border width and color as necessary */
    border-radius: 10px;  /* adjust for roundness of corners */
    margin-top: 40px;  /* adjust as necessary */
    width: 60%;
    justify-content: center; /* Align items horizontally in the center */
    align-items: center;
}
.img-wrapper img {
    flex: 1; /* Distribute the available space equally between the images */
    margin-right: 10px; /* Add some spacing between the images (adjust as needed) */
}

.img-wrapper img:last-child {
    margin-right: 0; /* Remove the margin from the last image to avoid extra spacing */
}



.upload-section {
    text-align: center;
    margin: 20px;
}

#drop-area {
    width: 33%;  /* set the width to 1/3 of the parent element */
    height: 200px;  /* adjust the height as necessary */
    border: 2px dashed #ddd;  /* lighter gray */
    border-radius: 40px;  /* rounded borders */
    line-height: 200px;
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    background: #f8f8f8; /* light gray background */
    color: #aaa;  /* gray text */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);  /* subtle shadow to make it appear floating */
}

#background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;  /* make sure the background is behind other content */
    background: url(./images/header.png) no-repeat right top;
    background-size: auto;
}


hr {
    height: 2px;
    background-color: #ccc;
    border: none;
}


#drop-area.highlight {
    border-color: purple;
}

#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#investigate-button {
    display: inline-block;
    padding: 15px 200px;
    margin-top: 5px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#investigate-button:hover {
    background-color: #0056b3;
}

.investigate-area {
    text-align: center;  /* centers the Investigate button */
    margin-top: 10px;  /* adds space above the Investigate button */
}


.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about-box {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 500px;
}

.about-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-box p {
  font-size: 16px;
  line-height: 1.6;
}

.upload-section {
  /* Your existing styles for the upload section */
}

.image-section {
  /* Your existing styles for the image section */
}
